<div class="container">
  <div class = "card">
    <span class="h3">Lista de Libros</span>
    <button class="btn btn-dark btn-lg float-end" routerLink="/crear">Crear nuevo registro</button>
    <table class="table table-striped mt-5 text-center">
      <thead>
        <tr>
          <th>Número</th>
          <th>ISBN</th>
          <th>Género</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Precio</th>
          <th>Editorial</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items | async; let i = index">
          <td scope="row">{{i+1}}</td>
          <td scope="row">{{item.ISBN}}</td>
          <td scope="row">{{item.Genero}}</td>
          <td scope="row">{{item.Titulo}}</td>
          <td scope="row">{{item.Autor}}</td>
          <td scope="row">{{item.Precio}}</td>
          <td scope="row">{{item.Editorial}}</td>
          <td>
            <i class="far fa-edit fa-lg text-info fa-2x" style="margin-right: 20px"></i>
            <i class="far fa-trash-alt fa-lg text-danger fa-2x"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
