<div class="container">
  <div class = "card">
    <span class="h3">Lista de Libros</span>
    <button class="btn btn-dark btn-lg float-end" routerLink="/crear">Crear nuevo registro</button>
    <table class="table table-striped mt-5 text-center">
      <thead>
        <tr>
          <th>Número</th>
          <th>ISBN</th>
          <th>Género</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Precio</th>
          <th>Editorial</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">1</td>
          <td scope="row">123-4567</td>
          <td scope="row">Ciencia Ficción</td>
          <td scope="row">Dune</td>
          <td scope="row">Frank Herbert</td>
          <td scope="row">$450</td>
          <td scope="row">Nova</td>
          <td>
            <i class="far fa-edit fa-lg text-info fa-2x" style="margin-right: 20px"></i>
            <i class="far fa-trash-alt fa-lg text-danger fa-2x"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
